/*

Thijs Brentjens: mantis issue 4697: hide the configuration options to users for Geonovum's instance

*/

#propertyConfiguration, .testRunProperties {
    display: none !important;
}

.TestStepMetadata, .AssertionMetadata {
    display: none !important;
}

label.mandatoryInput {
    font-weight: bold;
}

label.mandatoryInput:after {
    content: " *";
}

/* overrides */
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #97C000;
}

li.ui-li-static h4 {
    color: #97C000;
}


/* statistics table overrides */

#my-table>tbody tr:first-child {
    font-size: 1.2em;
}

#my-table>tbody tr:nth-of-type(2) {
    font-size: 1.0em;
}

#my-table>tbody tr:nth-of-type(3) {
    font-size: 0.9em;
}

#my-table>tbody tr:nth-of-type(4) {
    font-size: 0.8em;
}


.TestSuite > h2 > a::before, .TestCase > h3 > a::before {
    font-style: italic;
    font-weight: normal;
}


.TestSuite > h2 > a::before {
    content: "Test suite: ";
    font-size: 0.9em;
}

.TestCase > h3 > a::before {
    content: "Test case: ";
    font-size: 0.9em;
}

.TestStep > h4 > a::before {
    content: "Test step: ";
    font-size: 0.9em;
}
